.site-nav, .footer-nav{
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 60px;

    img{
        width: 40px;
        height: 30px;
    }

    ul{
        width: 25%;
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    li{
        width: auto;
        font-size: 14px;
        font-weight: 400;
        position: relative;
        opacity: .5;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;

        a{
            text-decoration: none;
            color: $textcolor;
        }
        
        &:hover{
            opacity: 1;
            cursor: pointer;
        }

        &.active{
            opacity: 1;
        }

        &.active::after{
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: $textcolor;
            position: absolute;
            top: 1.2rem;
            left: 50%;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
        }
    }
}

header, footer{
    width: 100%;
    position: absolute;
    left: 0;
}

header{
    top: 0;
}

footer{
    bottom: 0;
}

@media only screen and (max-width: 1440px) {

    .site-nav, .footer-nav{
        ul{
            width: 35%;
        }
    }
}

@media only screen and (max-width: 992px){
    
    .footer-nav{
        height: 150px;
        ul{
            -webkit-box-ordinal-group: 2;
                -ms-flex-order: 1;
                    order: 1;
        }
    }

    .footer-nav:before{
        content: '';
        width: 100%;
        height: 1px;
        background: $textcolor;
        opacity: .5;
    }
    .site-nav, .footer-nav{
    
        padding: 10px 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -ms-flex-pack: distribute;
            justify-content: space-around;

        ul{
            width: 100%;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
    }
}

@media only screen and (max-width: 576px){
    .site-nav, .footer-nav{
        img{
            width: 25px;
            height: 20px;
        }
    }
}